// Nextflow configuration file
params {
    input_dir = "$projectDir/samplesheet_mpox_test.csv"
    output_dir = "/mnt/tempdata/fastq_mpx/analysis"
    min_length = 100
    artic_model = "r1041_e82_400bps_sup_v430"
    params.artic_model_dir = "$projectDir/assets/artic_models"
    bed_file = "$projectDir/assets/schemes/mpox/welkers_primers_v4_2.bed"
    ref_file = "$projectDir/assets/schemes/mpox/NC_063383_masked.fasta"
    nextclade_dataset = "$projectDir/assets/nextclade/dataset/"

}

// Process-specific configurations
process {
    // General process configuration
    cpus = 2
    memory = '16 GB'
    

    withName: 'GUPPYPLEX' {
        container = 'quay.io/biocontainers/artic:1.8.5--pyhdfd78af_0'
    }
    withName: 'ARTIC_MINION' {
        container = 'quay.io/biocontainers/artic:1.8.5--pyhdfd78af_0'
    }
    withName: 'NEXTCLADE' {
        container = 'nextstrain/nextclade:latest'
    }
    withName: 'READ_STATS' {
        container = 'quay.io/biocontainers/artic:1.8.5--pyhdfd78af_0'
    }
    withName: 'R_COMBINE_RESULTS' {
        container = 'rocker/tidyverse:4.4'
    }
    withName: 'DEPTH_STATS' {
        container = 'quay.io/biocontainers/artic:1.8.5--pyhdfd78af_0'
    }
}

// Docker configuration
docker {
    enabled = true
    runOptions = '-u $(id -u):$(id -g)'
}

// Executor configuration (adjust as needed)
executor {
    name = 'local'
    queueSize = 8
}